@{
    ViewBag.Title = "CelularVerificado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Celular verificado com sucesso!</h2>
<br />

<h4>Clique no menu <b>ByteBank Fórum</b> para acessar a home da página.</h4>
