@{
    ViewBag.Title = "VerificarDoisFatoresRealizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verificação de SMS realizada com sucesso!</h2>
<br />

<h4>Clique no menu <b>ByteBank Fórum</b> para acessar a home da página.</h4>
